<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/layout.html}">
<head>
    <title>Editar prato</title>
    <script type="text/javascript" th:src="@{../static/js/principal.js}"></script>
</head>
<body>
<div layout:fragment="content" th:remove="tag">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3>Editar prato</h3>
        </div>
        <div class="panel-body">
            <form th:object="${product}" th:action="@{../update}" action="#" method="post" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="name">Nome</label>
                    <input type="hidden" class="form-control" id="id" th:field="*{id}"/>
                    <input type="text" class="form-control" id="name" th:field="*{name}" placeholder="Nome"/>
                </div>

                <div class="form-group">
                    <label for="quantity">Quantidade</label>
                    <input type="text" class="form-control" id="quantity" th:field="*{quantity}"
                           placeholder="Quantidade"/>
                </div>
                <div class="form-group">
                    <label for="price">Preço</label>
                    <input type="text" class="form-control" id="price" th:field="*{price}" placeholder="Preço"/>
                </div>
                <div class="form-group">
                    <img class="img-responsive" th:width="100px" th:height="100px" th:src="'/img/'+ *{imagem}"/>
                </div>
                <div class="form-group">
                    <input type="file" th:value="'/img/'+ *{imagem}" name="file"/><br/><br/>
                </div>
                <button type="submit" class="btn btn-primary" value="Save">Salvar</button>
                <a class="btn btn-danger" th:href="@{/deliveryApp/products/}">Cancelar</a>
            </form>
        </div>
    </div>
</div>
</body>
</html>


