<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>Pedido</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}"/>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link rel="stylesheet" type="text/css" th:href="@{/../css/style.css}">
    <script type="text/javascript" th:src="@{/webjars/jquery/3.2.1/jquery.min.js/}"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
</head>
<body>
<div>
    <div class="container">

        <div class="row">
            <div class="col-lg-8 col-md-7 col-sm-6">
                <h1>Lista de pratos</h1>

                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>Nome</th>
                        <th>Preço</th>
                        <th>Ação</th>
                        <th>Total</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="car : ${cart}">
                        <td th:text="${car.key}"></td>
                        <td th:text="${car.value}"></td>
                        <td>
                            <a href="@{deliveryApp/delete?key=${entry.key}" class="btn btn-danger">deletar</a>
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>
                            <h4 th:text="${sum}"></h4>
                        </td>
                        <td>
                            <a href="/deliveryApp/email-send" class="btn btn-default">Finalizar</a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <p>
                <a href="/deliveryApp/productsForSale" class="btn btn-default">Continue comprando</a>
            </p>
        </div>
    </div>
</div>

<script type="application/javascript">

    $(document).ready(function () {
        $('#btn_submit').on("click",function(e){
            e.preventDefault();

            if (!$(".checkbox :checkbox").is(":checked")){
                alert("You must at least select one product");
            }
            else{
                var productIds = [];
                $(".checkbox :checkbox:checked").each(function(){
                    productIds.push(parseInt($(this).attr("id")));
                });
                $.ajax({
                    type:"POST",
                    url:"/createorder",
                    data:{productIds:productIds},
                    success:function (data) {
                        if (confirm("Order with Id " +data + " Saved")){
                            window.location.reload();
                        }
                    }
                });
            }
        });

        //Complete order button handler

        $('.delete-order').on("click", function(e){
            e.preventDefault();

            if(confirm("Are you sure the order is complete?")){
                var Id = parseInt($(this).closest("td").attr("id"));

                $.ajax({
                    type:"POST",
                    url:"/removeorder",
                    data:{Id:Id},
                    success:function (data) {
                        $(".delete-order").closest("td#"+data).parent("tr").fadeOut("slow",function(){
                            $(".delete-order").closest("td#"+data).parent("tr").remove();
                        });
                    }
                });
            }

        });

    });
</script>
</body>
</html>